* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  padding: 20px 70px 20px 32px;
  display: flex;
  align-items: center;
}
.menu__button {
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  background: #fff;
  width: 20px;
  height: 17px;
  border: none;
  cursor: pointer;
  outline: none;
}
.menu__line {
  display: block;
  border-radius: 20px;
  width: 20px;
  height: 3px;
  background: #1f2022;
}
.header__header_logo {
  margin-right: 59px;
}
.header__input_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  background: #ebebeb;
  border-radius: 22px;
  max-width: 830px;
  width: 50%;
}
.input__search {
  background-color: transparent;
  border: none;
  border-radius: 22px;
  padding: 12px 23px;
  outline: none;
}
.search__button_search {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 19px;
  height: 19px;
  outline: none;
}
.header__header_icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icons_link {
  text-decoration: none;
  opacity: 0.24;
}
.icons_link:hover {
  opacity: 0.7;
}
.icons_link:not(:last-child) {
  margin-right: 50px;
}
.header__header_user {
  margin-left: 45px;
}
.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
