* {
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  font-style: 16px;
  font-weight: 400;
}
.header {
  padding: 20px 70px 20px 32px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.menu__button {
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  background: #fff;
  width: 20px;
  height: 17px;
  border: none;
  cursor: pointer;
  outline: none;
}
.menu__line {
  display: block;
  border-radius: 20px;
  width: 20px;
  height: 3px;
  background: #1f2022;
}
.header__header_logo {
  margin-right: 59px;
}
.header__input_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  background: #ebebeb;
  border-radius: 22px;
  max-width: 830px;
  width: 50%;
}
.input__search {
  background-color: transparent;
  border: none;
  border-radius: 22px;
  padding: 12px 23px;
  outline: none;
  width: 100%;
}
.search__button_search {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 19px;
  height: 19px;
  outline: none;
}
.header__header_icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icons_link {
  text-decoration: none;
  opacity: 0.24;
}
.icons_link:hover {
  opacity: 0.7;
}
.icons_link:not(:last-child) {
  margin-right: 50px;
}
.header__header_user {
  margin-left: 45px;
}
.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar {
  padding-left: 32px;
  position: fixed;
  left: 0;
  top: 114px;
  height: calc(100% - 114px);
  overflow-y: auto;
  width: 13%;
  background: #fff;
}
.content {
  margin-top: 85px;
  padding-left: 13%;
  padding-top: 30px;
  margin-left: 35px;
}
.navigation__menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}
.navigation__item {
  margin-bottom: 28px;
  color: #898989;
}
.navigation__item .icon {
  fill: #898989;
}
.navigation_link {
  display: flex;
  align-items: center;
  color: #898989;
  text-decoration: none;
}
.navigation_link:hover {
  color: #ff0000;
}
.navigation_link:hover .icon {
  fill: #ff0000;
}
.navigation__text {
  margin-left: 13px;
}
.navigation_image {
  width: 26px;
  height: 26px;
  border-radius: 50px;
}
.navigation__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}
.channel {
  position: relative;
  margin-top: 49px;
}
.channel__title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202c;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;
}
.channel__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.channel__text {
  margin-left: 20px;
}
.video__card {
  width: 250px;
}
.video__thumbnail {
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}
.thumdnail {
  width: 250px;
  height: 150px;
  object-fit: cover;
}
.video__duration {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  border-radius: 12px;
  font-size: 14px;
  color: #fff;
  padding: 3px 9px;
}
.video__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 4px;
}
.video__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}
.video__counter {
  display: flex;
}
.video__views {
  margin-right: 5px;
}
.video__views:after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.channel-button {
  cursor: pointer;
}
.slider__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
  position: absolute;
  right: 9%;
  top: 15px;
}
.recommended_card {
  width: 540px;
}
.recommended_thumdnail {
  width: 540px;
  height: 250px;
  object-fit: cover;
}
.video__recommended {
  width: 540px;
  height: 250px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}
.messange {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #c2c2c2;
  margin-left: 19px;
  padding-top: 5px;
}
.subscribe_button {
  background-color: #ff0000;
  color: #fff;
  border-radius: 20px;
  padding: 10px 19.5px 10px 20.5px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 255px;
  top: 10px;
}
.subscribe_button:focus {
  background: #c2c2c2;
  color: #fff;
}
